@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

$font-logo:   normal 800 32px 'Nunito', sans-serif;
$font-nav:    normal 700 24px 'Nunito', sans-serif;
$font-footer: normal 600 16px 'Nunito', sans-serif;
$font-normal: normal 400 24px 'Nunito', sans-serif;
$font-title:  normal 700 42px 'Nunito', sans-serif;

$bg-footer: #fff;

$head-foot-height: 64px;

$playnet-orange: #ff5c41;
