@import 'variables';

b {
  font: $font-title;
  font-size: 22px;
  margin: 3px;
  color: black;
}

#many-employees {
  margin-left: 86px;
  width: 928px;
  height: 354px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../assets/activity3/many_employees.svg');
}

#grouping-teams {
  position: absolute;
}

#ellipse-1 {
  width: 192px;
  height: 192px;
  margin-left: 86px;
  margin-top: 51px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/activity3/ellipse.svg');
}

#ellipse-2 {
  width: 242px;
  height: 242px;
  margin-left: 278px;
  margin-top: 24px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/activity3/ellipse.svg');
}

#ellipse-3 {
  width: 350px;
  height: 350px;
  margin-left: 641px;
  margin-top: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/activity3/ellipse.svg');
}

#ceo-text {
  position: absolute;
  margin-top: 304px;
  margin-left: 154px;
}

#sales-text {
  position: absolute;
  margin-top: 304px;
  margin-left: 369px;
}

#dev-text {
  position: absolute;
  margin-top: 350px;
  margin-left: 752px;
}

#two-employees {
  width: 387px;
  height: 257px;
  margin-left: 380px;
  margin-top: 80px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/activity3/two_employees.svg');
}

#bubble-1 {
  width: 105px;
  height: 73px;
  margin-left: 474px;
  margin-top: 40px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/activity3/bubble_1.svg');
}

#bubble-2 {
  width: 101px;
  height: 73px;
  margin-left: 585px;
  margin-top: 60px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/activity3/bubble_2.svg');
}

#bubble-3 {
  width: 189px;
  height: 89px;
  margin-left: 482px;
  margin-top: 50px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/activity3/bubble_3.svg');
}
// styles for ComputerRecs
#computer-rec-screen {
  background-image: url('../../assets/activity3/computer-recs.svg');
  width: 498px;
  height: 333px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 251px;
}

.rec-video {
  width: 113px;
  height: 77px;
  position: absolute;
  margin-left: 357px;
  background-repeat: no-repeat;
  background-size: contain;
}

.red-border-video {
  opacity: 0;
}

.black-border-video {
  opacity: 1;
}

#video1 {
  background-image: url('../../assets/activity3/video-rec1.svg');
  margin-top: 23px;
}

#video2 {
  background-image: url('../../assets/activity3/video-rec2.svg');
  margin-top: 103px;
}

#video3 {
  background-image: url('../../assets/activity3/video-rec3.svg');
  margin-top: 183px;
}

#video1-red {
  background-image: url('../../assets/activity3/video-rec1-red.svg');
  margin-top: 23px;
}

#video2-red {
  background-image: url('../../assets/activity3/video-rec2-red.svg');
  margin-top: 103px;
}

#video3-red {
  background-image: url('../../assets/activity3/video-rec3-red.svg');
  margin-top: 183px;
}

// Styles for List Animation
#animated-list-box {
  position: absolute;
  height: 370px;
  width: 700px;
  overflow: hidden;
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
  margin-left: 180px;
}

#animated-list {
  width: 700px;
  position: absolute;
}

//Styles for Plant Sprout Animation
#sprout-container {
  width: inherit;
  height: 272px;
  overflow: hidden;
  position: absolute;
}

#plant-sprout {
  z-index: 19;
  margin-left: 547px;
  margin-top: 171px;
  width: 22px;
  height: 197px;
  top: 100px;
  position: absolute;
  background: no-repeat center;
  background-size: contain;
  background-image: url('../../assets/activity3/stem.svg');
}

#left-leaf {
  z-index: 18;
  margin-left: 510px;
  margin-top: 130px;
  width: 52px;
  height: 52px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/activity3/left_leaf.svg');
}

#right-leaf {
  z-index: 20;
  margin-left: 545px;
  margin-top: 52px;
  width: 52px;
  height: 52px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/activity3/right_leaf.svg');
}

#bottom-soil {
  margin-left: 50px;
  margin-top: 222px;
  width: 1102px;
  height: 154px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/activity3/soil.svg');
}
