@import 'variables';
$grid-border-radius: 20px;

.game-intro-content {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  justify-content: center;
}

.center-text {
  margin: 5% 10%;
}

.padding-2 {
  padding: 2%;
}

#game-results-container {
  display: flex;
  flex-direction: column;
}

#game-results {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 32px;
}

.results-container {
  padding-bottom: 1.17em;

  div {
    align-items: center;
    color: #df3a1f;
    display: flex;
  }

  img {
    margin-right: 12px;
  }
}
