@import 'variables';

// Game Intro Slides
.grid {
  display: grid;
  grid-auto-flow: column;
  height: fit-content;
}

.half {
  margin: auto;
  padding: 1vw 0;
  width: calc(#{$carousel-content-width} / 2 - 2vw);
}

#arrow {
  background-image: url('../../assets/activity3/game/Arrow.svg');
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: calc(#{$carousel-content-width} / 20);
  width: calc(#{$carousel-content-width} / 20);
}

#arrow-container {
  float: right;
  height: calc(#{$carousel-content-width} / 18);
  margin-right: 18%;
  width: calc(#{$carousel-content-width} / 20);
}

// Selecting variables
#variables-wrapper {
  display: grid;
  grid-gap: 1vw 1.5vw;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: auto;
  padding: 1.5vw;
  width: fit-content;
}

$card-min-width: calc((#{$carousel-content-width}) / 3 / 2);
$card-height: calc(#{$card-min-width} - 20px);

.not-selected {
  border-color: $border-black;
}

.selected {
  border-color: $playnet-orange;
}

.checkmark {
  background-image: url('../../assets/activity3/game/Selected.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 2vw;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 2vw;
}

.variable-card {
  background-color: $carousel-background-white;
  border-radius: 25px;
  border-style: solid;
  border-width: 6px;
  font: $font-normal;
  font-size: 22px;
  height: $card-height;
  min-width: $card-min-width;
  width: 100%;
}

.variable-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: calc(#{$card-height} - 53px);
  margin: auto;
  width: 100%;
}

#credible {
  background-image: url('../../assets/activity3/game/Scales.svg');
}

#recent-upload {
  background-image: url('../../assets/activity3/game/Clock-big.svg');
}

#same-content {
  background-image: url('../../assets/activity3/game/Mirror.svg');
}

#popular {
  background-image: url('../../assets/activity3/game/Heart.svg');
}

#same-creator {
  background-image: url('../../assets/activity3/game/Brush.svg');
}

#subscribed {
  background-image: url('../../assets/activity3/game/Subscribe.svg');
}

//Text Input for Weighting Features Slider
.slider-text-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1vw 1vh;
}

.input-text-display-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .variable-image {
    margin: 0 3%;
    width: 30%;
  }
}

.input-option {
  width: 30%;
}

.input-option input {
  border: 6px solid $input-border-gray;
  border-radius: 10px;
  font: $font-normal;
  outline: 0;
  text-align: center;
  width: 30%;
}

//Click and Drag Input Slider for Weighting Features
.input-slider-container {
  border-radius: $slider-border-radius;
  display: grid;
  grid-template-columns: 100%;
  height: $slider-height-px;
  margin: 2% 5%;
  width: 90%;
}

.slider-background-color {
  align-self: center;
  background: linear-gradient(to right,
  #ffba09 0%,
  #ffba09 var(--sec1-percent),
  #a1d900 var(--sec1-percent),
  #a1d900 var(--sec2-percent),
  #04c439 var(--sec2-percent),
  #04c439 100%);
  border-radius: $slider-border-radius;
  grid-column: 1;
  grid-row: 1;
  height: 50px;
}

// Modified from https://codepen.io/thebabydino/pen/gOYqdEd
@mixin slider-icon {
  background: url('../../assets/activity3/game/slider.svg');
  border: 0;
  cursor: pointer;
  height: $slider-height-px;
  outline: 0;
  pointer-events: auto;
  width: 56px;
}

@mixin slidebar-track {
  background: none; /* get rid of Firefox track background */
  height: 100%;
  outline: 0;
  width: 100%;
}

.input-slidebar {
  appearance: none;
  background: none; /* get rid of white Chrome background */
  grid-column: 1;
  grid-row: 1;
  margin: 0;
  outline: 0;
  pointer-events: none; /* let clicks pass through */
  width: 100%;

  &::-webkit-slider-runnable-track,
  &::-webkit-slider-thumb,
  & {
    appearance: none;
  }

  &::-webkit-slider-runnable-track {
    @include slidebar-track;
  }

  &::-moz-range-track {
    @include slidebar-track;
  }

  &::-webkit-slider-thumb {
    @include slider-icon;
  }

  &::-moz-range-thumb {
    @include slider-icon;
  }
}
// DebuggingResults
.inline {
  display: inline-flex;
}

#top-bar-align-right {
  margin-right: 20px;
  text-align: end;
}

#top-bar-clock {
  background-image: url('../../assets/clock.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 35px;
  margin: 0;
  margin: auto;
  padding-right: 10px;
  width: 35px;
}

.vertically-centered {
  margin: auto;
}

.debug-screen {
  background-color: black;
  border-radius: 25px;
  display: table;
  height: 100%;
  margin: auto;
  padding: 20px 0;
  width: 100%;
}

.debug-text {
  color: $hover_green;
  display: table-cell;
  font-size: 15px;
  line-height: 28px;
  vertical-align: middle;
}

.vertical-grid {
  display: grid;
  grid-auto-flow: row;
  height: 100%;
  row-gap: 30px;
}

.button-group {
  font: $font-footer;
  font-size: 20px;
}

.smaller {
  font: $font-footer;
  font-size: 20px;
  min-height: 50px;
  min-width: 60%;
}

// styles for TimeAllocation
.playnet-red {
  color: $text-red;
}

.centered-box {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 50%;
  justify-content: center;
}

.option-container {
  border-radius: 25px;
  border-width: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

#options-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 80%;
}

.time-input {
  background-image: none;
  border-color: $playnet-grey;
  border-image: none;
  border-radius: 15px;
  border-style: solid;
  border-width: 6px;
  box-shadow: none;
  color: $border-black;
  font: inherit;
  font-weight: 600;
  height: 45px;
  margin: 10px;
  text-align: right;
  width: 78px;

  &:focus,
  &:active {
    border-color: $playnet-darkgrey;
    outline: none;
  }
}

.time-input-warning {
  color: $text-red;
}

#time-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

// TimeAllocation Tutorial styles
#time-tutorial-overlay {
  // padding: 4% 4%;
  display: flex;
  filter: blur(0);
  flex-direction: column;
  height: $min-carousel-height;
  position: absolute;
  width: 80%;
  z-index: 40;
}

#time-tutorial-bubble {
  background-color: white;
  border-color: black;
  border-radius: 10px;
  border-style: solid;
  border-width: 7px;
  font-size: 20px;
  height: fit-content;
  // float: right; // @TREVOR: add this in for float right
  margin: auto;
  max-height: $min-carousel-height;
  min-width: 350px;
  position: absolute;
  width: 25%;
  z-index: 50;
}

#time-tutorial-bubble p {
  margin: 20px;
}

.enable-blur>* {
  filter: blur(1.5px) grayscale(0.6);
}

.disable-blur {
  filter: blur(0);
}

.highlight-border {
  border-color: $playnet-orange;
  border-style: solid;
  padding: 0 !important;
}

// styles for ab testing description
#love-response {
  background: no-repeat center;
  background-image: url('../../assets/activity3/love-response.svg');
  background-size: contain;
  height: 127px;
  margin-left: 380px;
  margin-top: 100px;
  position: absolute;
  width: 124px;
  z-index: 5;
}

#dislike-response {
  background-image: url('../../assets/activity3/dislike-response.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 127px;
  margin-left: 160px;
  margin-top: 80px;
  position: absolute;
  width: 124px;
  z-index: 5;
}

#abtest-group {
  background-image: url('../../assets/activity3/game/abtest-group.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 272px;
  margin-left: 106px;
  margin-top: 150px;
  position: absolute;
  width: 350px;
  z-index: 1;
}

#abtest-computer1 {
  background-image: url('../../assets/activity3/game/abtest-computer1.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 272px;
  margin-left: 640px;
  margin-top: 150px;
  position: absolute;
  width: 818px;
  z-index: 1;
}

#abtest-computer2 {
  background-image: url('../../assets/activity3/game/abtest-computer2.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 272px;
  margin-left: 640px;
  margin-top: 150px;
  opacity: 0;
  position: absolute;
  width: 818px;
  z-index: 2;
}

#abtest-explain-button {
  margin-left: -250px;
  margin-top: 450px;
  position: absolute;
}

#abtest-toptext {
  position: absolute;
  width: inherit;
}

#abtest-text1 {
  position: absolute;
}

#abtest-text2 {
  opacity: 0;
  position: absolute;
}
