@import 'variables';

.content {
  * {
    display: block;
  }

  width: fit-content;
  margin: auto;
  display: inline-block;
  padding: 10px;
  position: relative;
}

#binary-text-bubble {
  padding-left: 80px;
  padding-bottom: 25px;
}

#cartoon-person-speech {
  padding-left: 100px;
  margin-bottom: -40px;
}

#computer-slide-3 {
  padding-top: 50px;
  padding-left: 100px;
}

.hidden {
  visibility: hidden;
}

.fade {
  animation-name: fade-in-n-out;
  animation-duration: 2s;
  animation-timing-function: ease;
  opacity: 1;
}

@keyframes fade-in-n-out {
  0% {
    opacity: 0;
  }

  50% {
    transform: scale(1.03);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fade-in-n-out-bigger {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

#party-confetti {
  animation-name: fade-in-n-out-bigger;
  animation-duration: 3s;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
}

#game2-intro {
  display: flex;
  min-height: $min_carousel_height;
  height: auto;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.game-intro-button {
  max-width: 50%;
  max-height: 50%;
  background-color: $playnet-orange;
  color: white;
  font: $font-normal;
  padding: 0.5vw 1vw;
  border-radius: 10px;
  border: none;
  outline: 0;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

  &:hover {
    cursor: pointer;
    filter: brightness(90%);
  }
}

#blank-computer {
  display: inline-block;
  position: relative;
  width: 50%;
}

#blank-computer-img {
  width: 100%;
}

#blank-computer-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.3vw;
  text-align: left;
  width: 80%;
  max-height: 70%;
}

#blank-computer-title-text {
  text-align: center;
  color: red;
}
