@import 'variables';
$grid-border-radius: 20px;

.game-intro-content {
  display: flex;
  height: 100%;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.center-text {
  margin: 5% 10%;
}

.padding-2 {
  padding: 2%;
}

#game-results-container {
  display: flex;
  flex-direction: column;
}

#game-results {
  margin: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  border-radius: 20px;
}

.results-container {
  padding-bottom: 1.17em;

  div {
    display: flex;
    align-items: center;
    color: #df3a1f;
  }

  img {
    margin-right: 12px;
  }
}

#outro-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    text-decoration: underline;
    color: inherit;
  }

  button {
    background-color: $playnet-orange;
    border: none;
    border-radius: 10px;
    padding: 10px 0;
    width: 50%;
    color: white;
    font: $font-nav;
    margin: 32px 0;
  }
}
