@import 'variables';

b {
  font: $font-title;
  font-size: 22px;
  margin: 3px;
  color: black;
}

#many-employees {
  margin-left: 86px;
  width: 928px;
  height: 386px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/activity3/many_employees.svg');
}

#grouping-teams {
  position: absolute;
}

#ellipse-1 {
  width: 192px;
  height: 192px;
  margin-left: 86px;
  margin-top: 51px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/activity3/ellipse.svg');
}

#ellipse-2 {
  width: 242px;
  height: 242px;
  margin-left: 278px;
  margin-top: 24px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/activity3/ellipse.svg');
}

#ellipse-3 {
  width: 350px;
  height: 350px;
  margin-left: 641px;
  margin-top: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/activity3/ellipse.svg');
}

#ceo-text {
  position: absolute;
  margin-top: 304px;
  margin-left: 154px;
}

#sales-text {
  position: absolute;
  margin-top: 304px;
  margin-left: 369px;
}

#dev-text {
  position: absolute;
  margin-top: 350px;
  margin-left: 752px;
}

// styles for ComputerRecs
#computer-rec-screen {
  background-image: url('../../assets/activity3/computer-recs.svg');
  width: 498px;
  height: 333px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}

.rec-video {
  width: 113px;
  height: 77px;
  position: absolute;
  margin-left: 357px;
  background-repeat: no-repeat;
  background-size: contain;
}

.red-border-video {
  opacity: 0;
}

.black-border-video {
  opacity: 1;
}

#video1 {
  background-image: url('../../assets/activity3/video-rec1.svg');
  margin-top: 23px;
}

#video2 {
  background-image: url('../../assets/activity3/video-rec2.svg');
  margin-top: 103px;
}

#video3 {
  background-image: url('../../assets/activity3/video-rec3.svg');
  margin-top: 183px;
}

#video1-red {
  background-image: url('../../assets/activity3/video-rec1-red.svg');
  margin-top: 23px;
}

#video2-red {
  background-image: url('../../assets/activity3/video-rec2-red.svg');
  margin-top: 103px;
}

#video3-red {
  background-image: url('../../assets/activity3/video-rec3-red.svg');
  margin-top: 183px;
}