@import 'variables';

.content {
  display: inline-block;
  margin: auto;
  padding: 10px;
  position: relative;

  width: fit-content;

  * {
    display: block;
  }
}

#binary-text-bubble {
  padding-bottom: 25px;
  padding-left: 80px;
}

#cartoon-person-speech {
  margin-bottom: -40px;
  padding-left: 100px;
}

#computer-slide-3 {
  padding-left: 100px;
  padding-top: 50px;
}

.hidden {
  visibility: hidden;
}

.fade {
  animation-duration: 2s;
  animation-name: fade-in-n-out;
  animation-timing-function: ease;
  opacity: 1;
}

@keyframes fade-in-n-out {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fade-in-n-out-bigger {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

#party-confetti {
  animation-duration: 3s;
  animation-name: fade-in-n-out-bigger;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
}

.game-intro {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  height: auto;
  justify-content: center;
  min-height: $min-carousel-height;
}
