@import 'variables';

.body {
  background: center/cover url('../../assets/background.svg');
  height: fit-content;
  margin-top: $head-foot-height;
  min-height: calc(100vh - #{$head-foot-height} - #{$foot-height});
}

button {
  border-style: none;
  cursor: pointer;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.7));
  outline: none;

  &:hover {
    filter: brightness(90%);
  }

  &:active {
    transform: scale(0.9, 0.9);
  }
}

// Shared
.playnet-button {
  background-color: $playnet-orange;
  border-radius: 10px;
  color: white;
  font: $font-normal;
  font: inherit;
  margin-bottom: 5px;
  margin: 0.5vw 1vw; // check this doesnt mess up other buttons
  max-height: 50%;
  max-width: 100%;
  padding: 0.5vw 1vw;
  white-space: nowrap;
}

.playnet-button:disabled {
  background-color: $playnet-darkgrey;
  filter: none;
}

.playnet-btn-grey {
  background-color: $playnet-darkgrey;
}

.playnet-btn-blue {
  background-color: $playnet-darkblue;
}