@import 'variables';

#title {
  font: $font-title;
  color: #fff;
  margin-top: 8px;
  margin-bottom: 0;
}

#subtitle {
  font: $font-title;
  font-size: 26px;
  color: #fff;
  margin: 0;
}

#body-text {
  font: $font-title;
  font-size: 26px;
  margin: 5px;
  height: 32px;
}

b {
  font: $font-title;
  font-size: 26px;
  font-weight: bold;
  color: $playnet-orange;
}

#carousel-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

#carousel {
  display: flex;
  align-items: center;
  margin: 12px $carousel-padding-px 64px;
}

#carousel-content {
  flex: 1;
  position: relative;
  background-color: $carousel-background-white;
  overflow: hidden;
  min-height: $min-carousel-height;
  height: fit-content;
  margin: 0 $carousel-content-margin-px;
  border-radius: 20px;
}

.carousel-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $carousel-button-px;
  height: $carousel-button-px;
  background-color: $playnet-orange;
  border-radius: 50%;
}

.time-bar-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.util-button-container {
  margin: 5px;
  display: flex;
  justify-content: flex-end;
  width: 98%;
}

.util-left-btn-container {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.util-right-btn-container {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.util-button {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: $playnet-orange;
  height: 40px;
  width: 55px;
  margin: 8px;
  border-radius: 15px;
}

.replay-button {
  background-image: url('../../assets/replay_btn.svg');
}

.autoplay-button {
  background-image: url('../../assets/autoplay_btn.svg');
}

.stop-autoplay-button {
  background-image: url('../../assets/stop_autoplay_btn.svg');
}

.game-mute-button {
  background-image: url('../../assets/game-mute-btn.svg');
}

.game-unmute-button {
  background-image: url('../../assets/game-unmute-btn.svg');
}

.voiceover-mute-button {
  background-image: url('../../assets/voiceover-mute-btn.svg');
}

.voiceover-unmute-button {
  background-image: url('../../assets/voiceover-unmute-btn.svg');
}

// Shared
#outro-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    text-decoration: underline;
    color: inherit;
  }
}

////////////////////////////// TIMEBAR //////////////////////////////
// Stolen from https://itqna.net/questions/56/how-make-progress-bar-goes-0-100-css-only
.timebar {
  background-color: #d3d3d3;
  border-radius: 0.5rem;
  width: 100%;
  height: 10px;
  vertical-align: bottom;
  float: bottom;
  margin: auto;
}

.time {
  background-color: #df3a1f;
  height: 10px;
  border-radius: 1rem;
  animation: fill-bar-animation var(--time) 1 linear;
}

@keyframes fill-bar-animation {
  0% { width: 0%; }
  100% { width: 100%; }
}
