@import 'variables';

.answer-choices {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  display: flex;
}

.game-page {
  flex-direction: column;
  justify-content: center;
  display: flex;
  height: calc(100vh - 220px);
  @media (max-width: $mobile-width) {
    justify-content: flex-start;
  }
}

.main-content {
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
  height: calc(90% - 66px);
  @media (max-width: $mobile-width) {
    flex-direction: column;
    height: 75%;
  }
}

.right-side {
  flex-direction: column;
  justify-content: center;
  display: flex;
  height: 100%;
  width: 60%;
  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.answer-display {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  display: flex;
  margin-bottom: 10%;
}

.gif {
  max-width: 40%;
  max-height: 90%;
  width: fit-content;
  height: fit-content;
  margin: 2%;
  background-color: white;
  border-radius: 20px;
  @media (max-width: $mobile-width) {
    max-width: 100%;
    max-height: 40%;
  }
}

.gif img {
  width: 70%;
  border-radius: 20px;
  @media (max-width: $mobile-width) {
    width: 35%;
  }
}

.time-display {
  height: 66px;
  width: 100%;
  margin: 2%;
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
}

.seconds-passed {
  margin: auto 10px;
}

.individual-answer-display {
  width: fit-content;
  height: fit-content;
  padding: 5% 10%;
  margin: auto 0;
  border-radius: 20px;
}

.red-outline {
  border-style: solid;
  border-width: 8px;
  border-color: red;
}

.white-text {
  color: white;
}

.white-background {
  background-color: white;
}

.flex-row {
  flex-direction: row;
  justify-content: center;
  display: flex;
}
