#blank-computer {
  display: inline-block;
  margin-top: 12px;
  position: relative;
  width: 45%;
}

#blank-computer-img {
  width: 100%;
}

#blank-computer-text {
  font-size: 1.3vw;
  left: 50%;
  max-height: 70%;
  position: absolute;
  text-align: left;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 87%;
}

#blank-computer-title-text {
  color: red;
  text-align: center;
}
