@import 'variables';

.answer-choices {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  display: flex;
}

.game-page {
  flex-direction: column;
  justify-content: center;
  display: flex;
  height: $min-carousel-height;

  @media (max-width: $mobile-width) {
    justify-content: flex-start;
  }
}

.main-content {
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
  height: calc(90% - 66px);

  @media (max-width: $mobile-width) {
    flex-direction: column;
    height: 75%;
  }
}

.right-side {
  flex-direction: column;
  justify-content: center;
  display: flex;
  height: 100%;
  width: 60%;

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.answer-display {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  display: flex;
  margin-bottom: 10%;
}

.gif {
  max-width: 40%;
  max-height: 90%;
  width: 90%;
  height: 100%;
  margin: 2%;
  border-radius: 20px;

  @media (max-width: $mobile-width) {
    max-width: 100%;
    max-height: 40%;
  }
}

.gif img {
  width: auto;
  border-radius: 20px;
  height: 100%;

  @media (max-width: $mobile-width) {
    width: 35%;
  }
}

.scene-info {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin: 2%;
}

.scene-info .icon {
  height: 66px;
  margin-left: 2%;
}

.scene-info .details {
  margin: auto 10px;
  white-space: nowrap;
}

.individual-answer-display {
  width: fit-content;
  height: fit-content;
  padding: 5% 10%;
  margin: auto 0;
  border-radius: 20px;
}

.red-outline {
  border-style: solid;
  border-width: 8px;
  border-color: red;
}

.green-outline {
  border-style: solid;
  border-width: 8px;
  border-color: $hover_green;
}

.white-text {
  color: white;
}

.white-background {
  background-color: white;
}

.gray-background {
  background-color: lightgray;
}

.gray-text {
  color: lightgray;
}

.black-text {
  color: black;
}

.flex-row {
  flex-direction: row;
  justify-content: center;
  display: flex;
}
