@import 'variables';

#game-wrapper {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.game-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-around;
  width: 100%;
}

.gamebox {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 50%;
}

.gamebox #translator {
  margin-left: 300px;
  max-height: 25%;
  position: absolute;
  width: auto;
}

.choice-container {
  align-items: center;
  background: white;
  border-color: black;
  border-radius: 20px;
  border-style: solid;
  border-width: 8px;
  display: flex;
  flex-direction: row;
  height: 30%;
  justify-content: center;
  margin: 10px;
  overflow: hidden;
  transition: 0.1s;
  width: 50%;

  &:hover {
    cursor: pointer;
  }
}

.choice-container img {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}

#cipher-game-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: center;
  width: 75%;
}

.cipher-game-cards {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 400px;
  justify-content: center;
  width: 50%;
}

.cipher-game-success {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

#fixed-star-counter {
  align-self: flex-end;
  margin-right: 20px;
  position: absolute;
}

.happiness-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 75%;
}

.star-counter {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.px-choice-container {
  align-items: center;
  border-color: black;
  border-radius: 20px;
  border-style: solid;
  border-width: 8px;
  display: flex;
  flex-direction: row;
  height: 86px;
  justify-content: center;
  margin: 10px;
  transition: 0.1s;
  width: 150px;

  &:hover {
    cursor: pointer;
  }
}

.progress-bar-outer {
  background-color: $progessbar-background-grey;
  border-radius: 50px;
  height: 20px;
  margin: 5px;
  max-width: 300px;
  width: 100%;
}

.progress-bar-inner {
  background-color: $playnet-orange;
  border-radius: inherit;
  height: inherit;
  transition: width 0.5s ease-in-out;
}

// CARD IMAGES

.no-background-repeat {
  background: no-repeat center;
  background-size: contain;
}

#APPLE,
#ONE-APPLE {
  background-image: url('../../assets/activity1/apple.svg');
}

#TWO-APPLE {
  background-image: url('../../assets/activity1/game1/twoapples.svg');
}

#THREE-APPLE {
  background-image: url('../../assets/activity1/game1/threeapples.svg');
}

#CAR,
#ONE-CAR {
  background-image: url('../../assets/activity1/game1/car.svg');
}

#TWO-CAR {
  background-image: url('../../assets/activity1/game1/twocars.svg');
}

#THREE-CAR {
  background-image: url('../../assets/activity1/game1/threecars.svg');
}

#UFO,
#ONE-UFO {
  background-image: url('../../assets/activity1/game1/ufo.svg');
}

#TWO-UFO {
  background-image: url('../../assets/activity1/game1/twoufos.svg');
}

#THREE-UFO {
  background-image: url('../../assets/activity1/game1/threeufos.svg');
}

#LEMON,
#ONE-LEMON {
  background-image: url('../../assets/activity1/lemon.svg');
}

#TWO-LEMON {
  background-image: url('../../assets/activity1/game1/twolemons.svg');
}

#THREE-LEMON {
  background-image: url('../../assets/activity1/game1/threelemons.svg');
}
