@import 'variables';

.navlink {
  align-items: center;
  display: inline-flex;
  height: $head-foot-height;
  padding: 0 40px;
}

.navlink a {
  color: #000;
  text-decoration: none;
}

.navlink a:visited {
  color: #000;
}

.navlink.current {
  border-bottom: solid 5px $playnet-orange;
}

.navlink.current a {
  color: $playnet-orange;
}

#header {
  align-items: center;
  background-color: $bg-footer;
  display: flex;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  flex-direction: row;
  height: $head-foot-height;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

#logo {
  display: inline;
  padding: 0 15px;
}

#logo h1 {
  display: inline;
  font: $font-logo;
  margin: 0;
  padding: 0;
  width: auto;
}

#logo img {
  padding: 0 5px;
  vertical-align: text-top; // had to manually align to get it to look right
}

#logo a {
  color: #000;
  text-decoration: none;
}

#logo a:visited {
  color: #000;
}

#nav {
  font: $font-nav;
}
