@import 'variables';

#intro-container {
  margin-top: 50px;
  transform: translateX(-300px);
  width: 300vw;
  overflow: hidden;
  left: -400px;
  display: flex;
}

#computer {
  width: 636px;
  height: 418px;
  margin-right: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../assets/computer.svg');
}

#rocket-path {
  position: absolute;
  margin-top: 160px;
  width: 1606px;
  height: 128px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../assets/rocket-path.svg');
}

#rocket {
  transform-origin: 10% 50%;
  margin-top: 100px;
  width: 254px;
  height: 125px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../assets/rocket.svg');
  display: grid;
  place-content: center;
}

#server-container {
  margin-left: 650px;
}

#server {
  margin-top: 100px;
  width: 281px;
  height: 234px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../assets/server.svg');
}

#bg-trajectory {
  opacity: 0;
  position: absolute;
  left: 750px;
  margin-top: 160px;
  width: 1606px;
  height: 128px;
}

#library {
  position: absolute;
  opacity: 0;
  left: 1350px;
  width: 466px;
  height: 372px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../assets/library.svg');
}

#servers {
  position: absolute;
  opacity: 0;
  top: -50px;
  left: 1550px;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/servers.svg');
}

// FINAL SLIDE
#final-intro-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position:relative;

}

#final-intro-container #lottie-mock-container {
  width: 1000px;
  height: 390px;
}

#final-intro-container #final-intro-background {
  width: 1000px;
  height: 390px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../assets/Intro12.png');
}

#final-intro-container #server {
  position: absolute;
  margin-top: 78px;
  margin-left: 669px;
  width: 88px;
  height: 74px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../assets/server.svg');
}


#final-intro-container #final-rocket {
  position: absolute;
  margin-top: 175px;
  margin-left: 620px; 
  width: 60px;
  height: 30px;
}

#rocket-image {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: 46px; 
  transform-origin: 10% 50%;
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../assets/rocket.svg');
}

#rocket-text {
  position: absolute;
  font-size: 12px;
  width: 100%;
  margin-top: 5px;
  justify-self: center;
  z-index: 1;
}

#final-intro-container #computer {
  position: absolute;
  margin-top: 140px;
  margin-left: -286px; 
  width: 160px;
  height: 107px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../assets/computer.svg');
  transform-origin: 50% 45%;
}

#final-intro-container #video-pulley {
  position: absolute;
  width: 80px;
  height: 5px;
  margin-top: 14px;
  margin-left: 44px; 
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/video-pulley.svg');
}

#final-intro-container #video {
  position: absolute;
  margin-top: 168px;
  margin-left: 709px; 
  width: 70px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;

}

#video.none-chosen, #video.chill-girl {
  background-image: url('../../assets/chill_girl.jpg');
}

#video.baby-shark {
  background-image: url('../../assets/baby_shark.jpg');
}

#video.nether-portal {
  background-image: url('../../assets/nether_portal.jpg');
}