@import 'variables';

#intro-container {
  display: flex;
  left: -400px;
  margin-top: 50px;
  overflow: hidden;
  transform: translateX(-300px);
  width: 300vw;
}

#computer {
  background-image: url('../../assets/computer.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 418px;
  margin-right: 100px;
  width: 636px;
}

#rocket-path {
  background-image: url('../../assets/rocket-path.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 128px;
  margin-top: 160px;
  position: absolute;
  width: 1606px;
}

#rocket {
  background-image: url('../../assets/rocket.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  height: 125px;
  margin-top: 100px;
  place-content: center;
  transform-origin: 10% 50%;
  width: 254px;
}

#server-container {
  margin-left: 650px;
}

#server {
  background-image: url('../../assets/server.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 234px;
  margin-top: 100px;
  width: 281px;
}

#bg-trajectory {
  height: 128px;
  left: 750px;
  margin-top: 160px;
  opacity: 0;
  position: absolute;
  width: 1606px;
}

#library {
  background-image: url('../../assets/library.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 372px;
  left: 1350px;
  opacity: 0;
  position: absolute;
  width: 466px;
}

#servers {
  background-image: url('../../assets/servers.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  left: 1550px;
  opacity: 0;
  position: absolute;
  top: -50px;
  width: 600px;
}

// FINAL SLIDE
#scaling-container #final-intro-background {
  background-image: url('../../assets/Intro12.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 390px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 1000px;
}

#scaling-container #server {
  background-image: url('../../assets/server.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 74px;
  margin-left: 669px;
  margin-top: 78px;
  position: absolute;
  width: 88px;
}

#scaling-container #final-rocket {
  height: 30px;
  margin-left: 620px;
  margin-top: 175px;
  position: absolute;
  width: 60px;
}

#rocket-image {
  background-image: url('../../assets/rocket.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin-left: 46px;
  position: absolute;
  transform: rotate(180deg);
  transform-origin: 10% 50%;
  width: 100%;
}

#rocket-text {
  font-size: 10px;
  justify-self: center;
  margin-top: 6px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

#scaling-container #computer {
  background-image: url('../../assets/computer.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 107px;
  margin-left: -286px;
  margin-top: 140px;
  position: absolute;
  transform-origin: 50% 45%;
  width: 160px;
}

#scaling-container #video-pulley {
  background-image: url('../../assets/video-pulley.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 5px;
  margin-left: 44px;
  margin-top: 14px;
  position: absolute;
  width: 80px;
}

#scaling-container #video {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  height: 40px;
  margin-left: 709px;
  margin-top: 168px;
  position: absolute;
  width: 70px;
}

#video.none-chosen,
#video.chill-girl {
  background-image: url('../../assets/chill_girl.jpg');
}

#video.baby-shark {
  background-image: url('../../assets/baby_shark.jpg');
}

#video.nether-portal {
  background-image: url('../../assets/nether_portal.jpg');
}
