// Stolen from https://www.w3schools.com/css/css_tooltip.asp
.tooltip {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.tooltip .tooltiptext {
  background-color: black;
  border-radius: 6px;
  color: #fff;
  left: 50%;
  margin-left: -60px;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  top: 100%;
  visibility: hidden;
  width: 120px;
  z-index: 1;
}

.tooltip .tooltiptext::after {
  border-color: transparent transparent black;
  border-style: solid;
  border-width: 5px;
  bottom: 100%;
  content: '';
  left: 50%;
  margin-left: -5px;
  position: absolute;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
