@import 'variables';

a {
  color: #fff;
}

#intro-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: auto;
}

#intro-title {
  color: #fff;
  font: $font-title;
  margin-bottom: 0;
}

#intro-subtitle {
  color: #fff;
  font: $font-title;
  font-size: 26px;
  margin: 5px;
}

#youtube-computer {
  align-items: center;
  background-image: url('../../assets/intro/computer-youtube.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: calc(45vw * 15 / 23);
  justify-content: center;
  width: 45vw;
}

#youtube-wrapper {
  align-items: center;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  height: auto;
  margin-left: 3vw;
  margin-right: 3vw;
  width: 100%;
}

.youtube-video {
  border: solid black 5px;
  border-radius: 10px;
  cursor: pointer;
  display: grid;
  font: $font-footer;
  height: 100%;
  margin: 5px;
  outline: none;
  transition-duration: 0.4s;
  width: auto;
}

.youtube-video:hover {
  transform: scale(1.1, 1.1);
}

.youtube-thumbnail {
  height: auto;
  justify-self: center;
  margin: 5px;
  width: 100%;
}

#youtube-final-video {
  border: solid black 5px;
  border-radius: 10px;
  height: 40%;
  width: 50%;
}
