@import 'variables';

#intro-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
}

#intro-title {
    font: $font-title;
    margin-bottom: 0px;
    color: #fff;
}

#intro-subtitle {
    font: $font-title;
    font-size: 26px;
    margin: 0px;
    color: #fff;
  }

#computer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: auto;
    background-image: url("../../assets/computer.svg");
    background-repeat: no-repeat;
    background-size: 56%;
    background-position: center;
}

#youtube-wrapper {
    margin-left: 10%;
    margin-right: 10%;
    width: 30%;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    align-items: center;
}

.youtube-video{
    border: solid black 5px;
    border-radius: 10px;
    width: 95%;
    height: 95%;
    display: grid;
    margin: 5px;
    transition-duration: 0.4s;
    font: $font-footer;
    cursor: pointer;
    outline: none;
}

.youtube-video:hover{
    transform: scale(1.1, 1.1);
}

.youtube-thumbnail {
    margin: 5px;
    justify-self: center;
    width: 100%;
    height: auto;
}

#final-video {
    display: grid;
    border: solid black 5px;
    border-radius: 10px;
    width: 30%;
    height: auto;
}

#final-thumbnail {
    width: 100%;
    height: auto;
}