@import 'variables';

#computer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/computer.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

#youtube-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    align-items: center;
}

.youtube-video{
    height: auto;
    display: grid;
    z-index: 1;
    margin: 5px;
}

.youtube-thumbnail {
    justify-self: center;
    width: 100%;
    height: auto;
}